<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.samir.andrew.myticket.views.activity.Home"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.samir.andrew.myticket.views.activity.Stage"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.samir.andrew.myticket.views.activity.Login"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.samir.andrew.myticket.views.activity.ServiceDetails"
            android:parentActivityName="com.samir.andrew.myticket.views.activity.Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samir.andrew.myticket.views.activity.Home" />
        </activity>
        <activity
            android:name="com.samir.andrew.myticket.views.activity.EventDetails"
            android:parentActivityName="com.samir.andrew.myticket.views.activity.ServiceDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samir.andrew.myticket.views.activity.ServiceDetails" />
        </activity>
        <activity
            android:name="com.samir.andrew.myticket.views.activity.Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.samir.andrew.myticket.views.activity.Reservation"
            android:label="@string/title_activity_reservation"
            android:parentActivityName="com.samir.andrew.myticket.views.activity.Stage"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samir.andrew.myticket.views.activity.Stage" />
        </activity>
        <activity
            android:name="com.samir.andrew.myticket.views.activity.MyTickets"
            android:label="@string/title_activity_my_tickets"
            android:parentActivityName="com.samir.andrew.myticket.views.activity.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samir.andrew.myticket.views.activity.Home" />
        </activity>

    </application>

</manifest>